<<<<<<< HEAD
<p>a.pers:active { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(255,255,255); text-decoration: none;}
a.pers:visited { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(255,255,255); text-decoration: none;}
a.pers:link { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(255,255,255); text-decoration: none;}
a.pers:hover { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(0,51,102); text-decoration: none;}</p>


<p>a.pers2:active { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(102,153,204); text-decoration: none;}
a.pers2:visited { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(102,153,204); text-decoration: none;}
a.pers2:link { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(102,153,204); text-decoration: none;}
a.pers2:hover { font-family: verdana; font-size: 7pt; font-weight: 700; color:rgb(0,51,102); text-decoration: none;}</p>

<p>a.capa:active { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(102,153,204); text-decoration: underline;}
a.capa:visited { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(102,153,204); text-decoration: underline;}
a.capa:link { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(102,153,204); text-decoration: underline;}
a.capa:hover { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(0,51,102); text-decoration: underline;}</p>


<p>a.conf:active { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(102,153,204); text-decoration: underline;}
a.conf:visited { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(102,153,204); text-decoration: underline;}
a.conf:link { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(102,153,204); text-decoration: underline;}
a.conf:hover { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(153,204,204); text-decoration: underline;}</p>


<p>a.conf2:active { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(102,153,204); text-decoration: none;}
a.conf2:visited { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(102,153,204); text-decoration: none;}
a.conf2:link { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(102,153,204); text-decoration: none;}
a.conf2:hover { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(153,204,204); text-decoration: underline;}</p>
.letraGeorgia2Cin {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 2px;
	color: #666666;
}
=======
<p>a.pers:active { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(255,255,255); text-decoration: none;}
a.pers:visited { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(255,255,255); text-decoration: none;}
a.pers:link { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(255,255,255); text-decoration: none;}
a.pers:hover { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(0,51,102); text-decoration: none;}</p>


<p>a.pers2:active { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(102,153,204); text-decoration: none;}
a.pers2:visited { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(102,153,204); text-decoration: none;}
a.pers2:link { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(102,153,204); text-decoration: none;}
a.pers2:hover { font-family: verdana; font-size: 7pt; font-weight: 700; color:rgb(0,51,102); text-decoration: none;}</p>

<p>a.capa:active { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(102,153,204); text-decoration: underline;}
a.capa:visited { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(102,153,204); text-decoration: underline;}
a.capa:link { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(102,153,204); text-decoration: underline;}
a.capa:hover { font-family: verdana, arial, Helvetica; font-size: 7pt; font-weight: 700; color:rgb(0,51,102); text-decoration: underline;}</p>


<p>a.conf:active { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(102,153,204); text-decoration: underline;}
a.conf:visited { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(102,153,204); text-decoration: underline;}
a.conf:link { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(102,153,204); text-decoration: underline;}
a.conf:hover { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(153,204,204); text-decoration: underline;}</p>


<p>a.conf2:active { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(102,153,204); text-decoration: none;}
a.conf2:visited { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(102,153,204); text-decoration: none;}
a.conf2:link { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(102,153,204); text-decoration: none;}
a.conf2:hover { font-family: georgia, times, Helvetica; font-size: 9pt; font-weight: 500; color:rgb(153,204,204); text-decoration: underline;}</p>
.letraGeorgia2Cin {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 2px;
	color: #666666;
}
>>>>>>> 20204f36c6b9c077038ee81cbf1ea817475c484e
