<<<<<<< HEAD
<style type="text/css">
.font01{font-family: 'Verdana'; font-size: 8pt; color: #000080;}
.background01 {background-image: url(../imagens/fundocorpo.jpg);background-repeat: no-repeat;background-position: center center;}
.subtitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000000;
	font-style: normal;
	
}
.subtitulob {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000000;
	font-style: normal;
	font-weight: bold;
	
}

.campo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #666666;

}
.titcoltabela {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #666666;
	font-weight: bold;	
}
.campotabela {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #666666;
}
.campob {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.style8 {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
</style>

=======
<style type="text/css">
.font01{font-family: 'Verdana'; font-size: 8pt; color: #000080;}
.background01 {background-image: url(../imagens/fundocorpo.jpg);background-repeat: no-repeat;background-position: center center;}
.subtitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000000;
	font-style: normal;
	
}
.subtitulob {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000000;
	font-style: normal;
	font-weight: bold;
	
}

.campo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #666666;

}
.titcoltabela {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #666666;
	font-weight: bold;	
}
.campotabela {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #666666;
}
.campob {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.style8 {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
</style>

>>>>>>> 20204f36c6b9c077038ee81cbf1ea817475c484e
