vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Sep 2003 15:05:55 -0000
vti_extenderversion:SR|5.0.2.4330
vti_author:SR|CORP\\xd47
vti_modifiedby:SR|CORP\\xd47
vti_timecreated:TR|18 Sep 2003 15:05:55 -0000
vti_cacheddtm:TX|18 Sep 2003 15:05:55 -0000
vti_filesize:IR|907
vti_cachedtitle:SR|Untitled Document
vti_cachedbodystyle:SR|<body link="#000099" vlink="#000099" alink="#000099">
vti_cachedlinkinfo:VX|H|por_nome_excel.asp H|por_nome_excel.asp
vti_cachedsvcrellinks:VX|FHUS|asp/Apoio/Template/por_nome_excel.asp FHUS|asp/Apoio/Template/por_nome_excel.asp
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=iso-8859-1
vti_charset:SR|windows-1252
vti_title:SR|Untitled Document
vti_lineageid:SR|{005EA0AC-91D1-4549-A245-75877B183ED5}
vti_backlinkinfo:VX|asp/Apoio/Template/menu.asp asp/Apoio/Template/consultas.asp
