vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jun 2003 13:32:42 -0000
vti_extenderversion:SR|5.0.2.4330
vti_author:SR|CORP\\xd47
vti_modifiedby:SR|CORP\\xd47
vti_timecreated:TR|25 Jun 2003 13:32:42 -0000
vti_cacheddtm:TX|25 Jun 2003 13:32:42 -0000
vti_filesize:IR|2291
vti_lineageid:SR|{07973998-B2C0-4CF1-BD6D-09837807D386}
vti_backlinkinfo:VX|asp/Apoio/Consultas/Consulta/head.asp
